@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<h2>Flavor Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if (@Model.Treats.Count == 0)
{
  <p>This flavor does not contain any treats</p>
}
else
{
  <h4>Treats the flavor contains:</h4>
  <ul>
  @foreach(var join in Model.Treats)
  {
    <li>@join.Treat.Title</li>
  }
  </ul>
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.FlavorId })</p>